body{
    background-color: #18181B;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Grotesk';
    src: url('./assets/FoundersGrotesk-Semibold.ttf') format('truetype');
  }
